
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
     Dashboard 
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../static/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../static/css/nucleo-svg.css" rel="stylesheet" />
  <link href="../static/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../static/css/argon-dashboard.css" rel="stylesheet" />
  <style>
    #sidenav-main.show {
    transform: translateX(0);
}

/* Adjust transition speed if needed */
#sidenav-main {
    transition: transform 0.3s ease;
}
  </style>
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html " target="_blank">
        <span class="ms-1 font-weight-bold"> Courses </span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link " href="adminpage">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link  " href="course">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Courses</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " href="billing">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Billing</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active " href="adminrating">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Rating</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="adminprofile">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-app text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
      </ul>
    </div>
    
     
  </aside>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Ratings</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">User Reports</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <!-- <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Type here...">
            </div> -->
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
              
                    
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        
      </div>
      </div>
       
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Course Id</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User reports</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ratings</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in ratings %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <!-- <img src="{{i.thumbnail.url}}" class="avatar avatar-sm me-3" alt="user1"> -->
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{i.email}}</h6>
                              <p class="text-xs text-secondary mb-0"></p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs text-secondary mb-0">{{i.courseid}}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <p class="text-xs text-secondary mb-0">{{i.feedback}}</p>

                        </td>
                        
                        {% if i.ratingvalue == 1 %}
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs text-secondary mb-0">⭐</p>
  
                          </td>
                        {% elif i.ratingvalue == 2 %}
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs text-secondary mb-0">⭐⭐</p>
  
                          </td>
                          {% elif i.ratingvalue == 3 %}
                          <td class="align-middle text-center text-sm">
                            <p class="text-xs text-secondary mb-0">⭐⭐⭐</p>
  
                          </td>
                          {% elif i.ratingvalue == 4 %}
                          <td class="align-middle text-center text-sm">
                            <p class="text-xs text-secondary mb-0">⭐⭐⭐⭐</p>
  
                          </td>
                          {% else %}
                          <td class="align-middle text-center text-sm">
                            <p class="text-xs text-secondary mb-0">⭐⭐⭐⭐⭐</p>
  
                          </td>
                          {% endif %}
                      </tr>
                      {% endfor %}
                      
                      
                    </tbody>
                  </table>
                </div>
                
          <script src="../static/js/perfect-scrollbar.min.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function() {
    const iconNavbarSidenav = document.getElementById("iconNavbarSidenav");
    const sidenavMain = document.getElementById("sidenav-main");

    iconNavbarSidenav.addEventListener("click", function() {
        sidenavMain.classList.toggle("show");
    });
});
          </script>
  
</body>

</html>